@font-face {
  font-family: 'AppetiteNew';
  src: url('../fonts/Appetite_New.eot');
  src: local('☺'), url('../fonts/Appetite_New.woff') format('woff'), url('../fonts/Appetite_New.ttf') format('truetype'), url('../fonts/Appetite_New.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  font: 14px "Open Sans", sans-serif;
  line-height: 1.2;
  font-weight: 300;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 640px;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a,
input,
button,
textarea,
.chard-nav__item {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
h1 {
  font-family: 'AppetiteNew';
  margin-top: 0;
  font-size: 26px;
}
h2 {
  margin-top: 0;
  font-size: 20px;
}
h2.big {
  font-family: 'AppetiteNew';
  font-size: 26px;
}
h3 {
  margin-top: 0;
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 12px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.pad-top-30 {
  padding-top: 30px;
}
.pad-bot-30 {
  padding-bottom: 30px;
}
.little {
  font-size: 13px;
}
.small {
  font-size: 12px;
}
.content-img {
  overflow: hidden;
  vertical-align: top;
  display: block;
}
.content-img img {
  width: auto;
  max-width: 100%;
}
/* -------- header -----------*/
/* -------- /header -----------*/
/* -------- content -----------*/
/* -------- /content -----------*/
/* -------- footer -----------*/
.hfooter {
  clear: both;
  height: 120px;
}
.footer-wrap {
  position: relative;
  min-height: 90px;
  margin: -90px auto 0;
  padding: 30px 0 30px;
}
/* -------- /footer -----------*/
